img {
  display: block;
}

.pokemon:hover {
  background-color: red;
}

.pokemon {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

#header {
  display: flex;
  width: 40%;
  justify-content: center;
  margin-bottom: 50px;
  border: 2px solid rgb(0, 62, 220);
  background: lightblue;
  border-radius: 30px;
}

.container {
  display: flex;
  justify-content: center;
}

.player {
  width: 40%;
  height: 500px;
  background-color: green;
  display: flex;
}

.playerBoard {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}